.geo-borders {
  fill: none;
  stroke: #afadad;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.geo-region {
  fill: #fdf8d8;
}
.region-outline{
  cursor: pointer;
  stroke: none;
  fill-opacity: 0;
}
.protograph-card-area{
  width: 100%;
  text-align: center;
  margin-top: 20px;
  height: 100vh;
  overflow-y: scroll;
}
.protograph-card{
  width: 137px;
  height: 137px;
  display: none;
  text-align: left;
  background: whitesmoke;
  margin-right: 7px;
  margin-left: 7px;
  margin-bottom: 25px;
  position: relative;
  cursor: pointer;
  /*box-shadow: 0 20px 20px rgba(0,0,0,0.08);*/
  box-shadow: 0 2px 3px rgba(0,0,0,0.1);
  border: 1px solid rgb(241, 241, 241);
  transition: all 250ms cubic-bezier(.02, .01, .47, 1);
}
.protograph-card img{
  height: 100%;
  width: auto;
}
.protograph-card:hover {
  box-shadow: 0px 5px 15px lightgrey;
  background: whitesmoke;
}
.data-card-content .data-card-title{
  font-size: 16px;
  color: #333;
  font-weight: bold;
  line-height: 1.3em;
  font-family: arial;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.data-card-content{
  position: absolute;
  display: inline-block;
  bottom: 0px;
  /*width: 88%;*/
  padding:15px;
  padding-bottom: 5px;
}
.protograph-gradient{
  width: 100%;
  height: 137px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  pointer-events: none;
}
#protograph_tooltip{
  background-color:white;
  border: 1px solid #CCC;
  border-radius: 5px;
  pointer-events:'none';
  display:block;
  width:fit-content;
  height:fit-content;
  padding:5px 10px;
  position:absolute;
  transition: all 0.35s;
  font-size: 16px;
}
#show-more-cards {
  width: 20%;
  background-color: #efefef;
  border: 0px solid grey;
  border-radius: 5px;
  color: white;
  color: #333;
  padding: 11px;
  margin-right: auto;
}
#show-more-cards:focus {
  outline: 0;
}
.protograph-card:hover {
  box-shadow: 0px 5px 15px lightgrey;
  background: whitesmoke;
}
.protograph-app-filter-icon {
  display: none;
  background: white;
  position: fixed;
  bottom: 20px;
  padding: 15px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px 0px;
}
.protograph-app-filter-icon-slide-down {
  bottom: -30px;
  transition: bottom 500ms ease-out;
}
.protograph-app-filter-icon-slide-up {
  bottom: 20px;
  transition: bottom 500ms ease-out;
}
.protograph-app-filter-close-button {
  display: none;
}
#show-more-cards:focus {
  outline: 0;
}
.protograph-filter-area {
  overflow: hidden;
  position: relative;
}
.protogrpah-map-dulled-out {
  cursor: initial;
  fill: white;
  fill-opacity: unset;
}
.protograph-app-map-and-list {
  float: right;
}
@media only screen and (max-width: 450px ) {
  body {
    background: white;
  }

  .protograph-card{
    height: 280px;
    width: 280px;
  }
  .protograph-gradient{
    height: 280px;
  }
  .protograph-app-navbar {
    left: -600px;
  }
  .protograph-app-navbar-slide-in {
    left: auto;
    transition: left 650ms ease-out;
  }
  .cover-image {
    display: none;
  }
  .protograph-app-map-and-list {
    margin-top: 40px;
  }
  .nav-item {
    width: 50%;
    text-align: center;
  }
  .protograph-app-filter-icon {
    display: block;
  }
  .protograph-app-filter-close-button {
    display: none;
    z-index: 1000;
  }
  .protograph-filter-area {
    position: fixed;
    top: 1000px;
    height: 100%;
    z-index: 100;
    padding: 0px;
    width: 100% !important;
    background: white;
  }
  .protograph-filter-area-slide-up {
    top: 50px;
    transition: top 500ms ease-out;
  }
  #show-more-cards{
    width: 100%;
    margin-left: 0px;
    margin-top: 10px;
  }
}