/* New Home CSS */
.proto-container {
  background: transparent;
}
.protograph-app-navbar {
  z-index: 100;
  left: -600px;
  transition: left 650ms ease-out;
}
.protograph-app-navbar-slide-in {
  left: auto;
}
.protograph-app-intro-holder {
  position: relative;
  padding: 5px;
  background-image: url("../img/cover-image.png");
  background-repeat: no-repeat;
  background-size: 100%;
  top: 25%;
}
.protograph-app-intro-holder-animate {
  top: 0%;
  transition: top 650ms ease-out;
}
.protograph-app-main-container {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px !important;
  height: 100vh;
}
.protograph-app-hashtag-container {
  padding: 10px;
  margin-bottom: 20px;
  display: table;
  position: absolute;
  bottom: 0px;
}
.protograph-app-hashtag-group {
  display: table-cell;
  vertical-align: middle;
}
.protograph-app-hashtag {
  font-size: 38px;
  font-family: 'Bitter', serif;
  font-weight: 700;
  color: white;
}
.protograph-app-hashtag-subline {
  color: #d4d4d4;
  margin-top: 10px;
}
.protograph-app-cover-image img.cover-image {
  height: 180px;
}
.protograph-app-cover-image {
  padding-right: 20px;
}
.protograph-app-description {
  width: 90%;
  color: white;
}
.protograph-app-description p{
  color: #d4d4d4;
  line-height: 24px;
}
.protograph-app-3col-grid {
  position: relative;
  display: none;
  height: 100%;
  top: 900px;
}
.protograph-app-3col-grid-slide-up {
  top: 0px;
  transition: top 650ms ease-out;
  padding-right: 0px;
  padding: 0px;
}
.protograph-app-swipe-left {
  display: none;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: #007cd7;
  padding: 10px;
  color: white;
  font-family: cabin;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 13px;
}
.protograph-app-touch-overlay {
  display: none;
  position: absolute;
  top: 0px;
  height: 100vh;
  width: 100%;
  z-index: 1000;
}
.protograph-district-page-main-container {
  top: 0px;
}
.protograph-district-page-navbar {
  left: 0px;
}
.article-page-cover{
  margin-bottom: 30px;
}
.protograph-explore-button {
  display: block;
  width: 100%;
  background: #007cd7;
  padding: 10px;
  text-align: center;
  color: white;
  box-sizing: border-box;
  margin-top: 20px;
}
.mobile-header {
  top: 3px;
}
.mobile-only {
  display: none;
}
.article-col {
  position: relative;
}
@media only screen and (max-width: 450px) {
  .mobile-only {
    display: inline-block;
  }
  .protograph-app-navbar-slide-in {
    left: 0px;
  }
  .protograph-app-main-container {
    /* height: 100%; */
    background: white;
    overflow-x: hidden;
    position: relative;
  }
  .article-col {
    overflow-y: hidden;
    height: auto;
    box-sizing: border-box;
    background: white;
  }
  .tweets-section, .why-section {
    background: white;
    height: 100%;
  }
  .tweets-section, .why-section {
    position: absolute;
    left: 600px;
    top: 0px;
    -webkit-transition: left 500ms ease-in;
    -moz-transition: left 500ms ease-in;
    transition: left 500ms ease-in;
    z-index: 5;
    height: 100%;
    background: white;
  }
  .protograph-app-intro-holder {
    top: 0%;
    border-bottom: 0px;
    padding-top: 50px;
  }
  .protograph-app-hashtag-container {
    height: auto;
  }
  .protograph-app-hashtag-group {
    vertical-align: top;
  }
  .protograph-app-description {
    display: none;
  }
  .protograph-app-swipe-left {
    display: block;
  }
  .protograph-app-touch-overlay {
    display: block;
  }
  .protograph-app-intro-holder {
    background-size: cover;
  }
  .protograph-district-page-navbar {
    left: -500px;
  }
  .protograph-district-page .page-navigation-mobile {
    background: #f1f1f1;
  }
  .protograph-district-page .protograph-app-navbar-page-title {
    font-size: 24px;
    padding-left: 15px;
  }
  .protograph-district-page .protograph-menu-logo {
    height: 30px;
    float: right;
  }
  .protograph-app-active-tab-content {
    left: 0px;
  }
  .protograph-app-slide-down {
    bottom: -100px;
    -webkit-transition: bottom 500ms ease-in;
    -moz-transition: bottom 500ms ease-in;
    transition: bottom 500ms ease-in;
  }
  .interaction-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.5;
    display: none;
  }
  .left-interaction-overlay, .right-interaction-overlay  {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 35%;
    z-index: 200;
  }
  .right-interaction-overlay {
    left: auto;
    right: 0px;
  }
}