@import url("https://fonts.googleapis.com/css?family=Bitter:400,400i,700|Cabin:400,500,600,700");
p {
  font-family: cabin;
  margin: 5px 0px;
  line-height: 1.6;
  color: #707175; }

.proto-sidebar {
  background: #f1f1f1;
  height: 100vh;
  position: fixed; }

.project-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-top: 10px;
  font-family: 'Bitter', serif;
  color: #222; }

.sidebar-menu {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  width: 100%; }

.sidebar-menu-option {
  color: #00000040;
  opacity: 1;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'cabin', serif;
  padding: 7px 0px;
  border-bottom: 1px solid #e8e8e8;
  cursor: pointer;
  letter-spacing: 0.5px; }

.active-option {
  color: #007cd7; }

.sidebar-menu-option:last-child {
  border-bottom: 0px; }

.sidebar-menu-option:hover {
  color: #007cd7;
  opacity: 1; }

.sidebar-footer {
  position: absolute;
  bottom: 20px; }
  .sidebar-footer .powered-by-text {
    font-family: cabin;
    letter-spacing: 2.3px;
    text-transform: uppercase;
    color: #00000040;
    margin-bottom: 5px;
    font-size: 10px; }
  .sidebar-footer .social-share {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px; }
    .sidebar-footer .social-share .facebook-icon {
      display: inline-block;
      float: left;
      opacity: 0.8;
      margin-right: 25px; }
    .sidebar-footer .social-share .twitter-icon {
      display: inline-block;
      float: left;
      opacity: 0.8; }
    .sidebar-footer .social-share .facebook-icon:hover, .sidebar-footer .social-share .twitter-icon:hover {
      opacity: 1;
      cursor: pointer; }

.cover-image {
  background-image: url("../img/cover-image.png");
  background-repeat: none;
  background-size: 100%;
  height: 300px;
  overflow: hidden;
  margin-bottom: 20px; }

.data-page .cover-image {
  height: 200px; }

.page-title {
  font-size: 42px;
  font-weight: bold;
  padding-top: 100px;
  font-family: 'Bitter', serif;
  color: white; }

.page-sub-title {
  font-size: 14px;
  padding: 5px;
  font-weight: 400;
  letter-spacing: 0.3px;
  font-family: 'cabin', serif;
  color: white; }

.article-col {
  padding-top: 10px; }

.tweet-col {
  background: #fafafa;
  border-color: #fafafa;
  padding: 5px 10px; }

.briefs-column .tolink-card {
  padding-bottom: 10px; }

.briefs-column .column-name {
  padding-left: 10px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 30px;
  font-size: 24px;
  color: #007cd7;
  padding-bottom: 0px;
  text-transform: uppercase;
  font-weight: bold;
  /*font-family: 'Courgette', cursive;*/ }

.briefs-column .briefs-layout .card-text {
  font-size: 12px;
  line-height: 17px;
  color: #333;
  font-family: "Roboto", sans-serif; }

.briefs-column .briefs-layout .hint-text {
  margin-bottom: 10px; }

.proto-card {
  padding-top: 15px;
  padding-bottom: 50px;
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #efefef;
  position: relative; }

.proto-card .card-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #333;
  line-height: 34px;
  font-size: 28px; }

.proto-card .by-time-line {
  padding: 7px 0px; }

.proto-card .by-time-line .by-line {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px; }

.proto-card .by-time-line .time-ago {
  color: #787878;
  font-size: 12px;
  line-height: 17px; }

.proto-card .card-img {
  padding-left: 0px; }

.title-small-img-text-layout .card-text {
  padding: 0px; }

.proto-card .card-text {
  line-height: 21px;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 400;
  font-family: "Noto Serif", serif;
  padding: 0px; }

.proto-card .hint-text {
  font-size: 10px;
  color: #787878;
  line-height: 14px; }

.proto-card .title-small-img-text-layout .card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  padding-left: 5px; }

.proto-card .title-text-layout .card-text {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2; }

.proto-card .title-big-img-text-layout .card-text {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2; }

.proto-card .title-big-img-text-layout .card-title {
  margin-top: 15px; }

.proto-card .title-thumbnail-layout .card-title {
  padding-right: 30px; }

.proto-card .feature-story-layout .gradient-layer {
  position: absolute;
  top: 0px;
  padding-left: 80px;
  padding-top: 120px;
  padding-right: 160px;
  padding-bottom: 240px;
  width: 100%;
  background: linear-gradient(rgba(85, 168, 253, 0.8), rgba(0, 0, 0, 0.7)); }

.proto-card .feature-story-layout .feature-title {
  padding-left: 10px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 30px;
  border: 5px solid white;
  color: white;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px; }

.proto-card .feature-story-layout .feature-area {
  overflow: hidden; }

.clearfix {
  clear: both; }

.why-col {
  border-color: #333;
  background: #007cd7;
  color: white;
  padding: 5px 10px; }

.filter-col {
  font-size: 16px;
  font-family: cabin;
  border-right: 1px solid #efefef; }

.filter-title {
  background: #007cd7;
  color: white;
  padding: 20px 10px 10px 10px;
  position: relative;
  z-index: 10; }

.single-filter-option {
  padding: 15px 10px;
  border-bottom: 1px solid #efefef; }

.tabs-area {
  border-bottom: 1px solid #efefef;
  margin-bottom: 10px; }

.single-tab {
  font-size: 16px;
  font-family: cabin;
  border-bottom: 3px solid white;
  display: inline-block;
  padding: 0px 25px 8px;
  cursor: pointer; }

.active-tab {
  color: #007cd7;
  border-color: #007cd7; }

.map-test {
  height: 200px;
  background: red; }

.list-test {
  height: 200px;
  background: blue; }

.tabs {
  display: none; }

.tabs.active-area {
  display: block; }

/*# sourceMappingURL=jal-jagran-style.css.map */
