
@import url('https://fonts.googleapis.com/css?family=Bitter:400,400i,700|Cabin:400,500,600,700');
$brand-color:#007cd7;

p{
    font-family: cabin;
    margin: 5px 0px;
    line-height: 1.6;
    color: #707175;
}

//===== sidebar area =====//

.proto-sidebar{
    background: #f1f1f1;
    height: 100vh;
    position: fixed;
}

.project-name{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 10px;
    font-family: 'Bitter', serif;
    color: #222;
}

.sidebar-menu{
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    width: 100%;
}

.sidebar-menu-option{
    color: #00000040;
    opacity: 1;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'cabin', serif;
    padding: 7px 0px;
    border-bottom: 1px solid #e8e8e8;
    cursor: pointer;
    letter-spacing: 0.5px;
}

a:last-child .sidebar-menu-option{
    border-bottom: 0px;
}

.active-option{
    color: $brand-color;
}

.sidebar-menu-option:hover{
    color: $brand-color;
    opacity: 1;
}

a{
    text-decoration: none;
}

.sidebar-footer{
    position: absolute;
    bottom: 20px;
    .powered-by-text{
        display: none;
        font-family: cabin;
        letter-spacing: 2.3px;
        text-transform: uppercase;
        color: #00000040;
        margin-bottom: 5px;
        font-size: 10px;
    }
    .protograph-branding {
        display: none;
    }
    .social-share{
        display: inline-block;
        width: 100%;
        margin-bottom: 15px;
        .facebook-icon{
            display: inline-block;
            float: left;
            opacity: 0.8;
            margin-right: 25px;
        }
        .twitter-icon{
            display: inline-block;
            float: left;
            opacity: 0.8;
        }
        .facebook-icon:hover, .twitter-icon:hover{
            opacity: 1;
            cursor: pointer;
        }
    }
}
.protograph-app-navbar-content {
  padding:15px;
  background-color: #f1f1f1;
}
.protograph-app-navbar-hashtag {
  font-size: 20px;
  padding-bottom: 5px;
  font-family: 'Bitter', serif;
  font-weight: 700;
}
.protograph-app-navbar-logo-image {
  width: 100%;
}
.protograph-app-links-holder {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.protograph-app-navbar-option {
  padding: 0px 15px;
}
.protograph-app-navbar-option .category-name {
  color: #929292;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 0px;
  border-bottom: 1px solid #dadada;
}
.protograph-app-navbar-option.no-border-bottom .category-name {
  border-bottom: 0px !important;
}
.protograph-app-navbar-option:hover .category-name, .protograph-app-navbar-option.protograph-app-navbar-option-active .category-name {
  color: #007cd7;
}
.protograph-app-social-share-buttons {
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}


//===== cover image area =====//
.cover-image{
    background-image: url("../../img/cover-image.png");
    background-repeat: none;
    background-size: 100%;
    height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}

.data-page{
    .cover-image{
        height: 300px;
    }
}

.page-title{
    font-size: 42px;
    font-weight: bold;
    font-family: 'Bitter', serif;
    color: white;
    margin-bottom: 10px;
    bottom: 0px;
    position: absolute;
    margin-left: 10px;
}

.page-sub-title{
    font-size: 14px;
    padding: 5px;
    font-weight: 400;
    letter-spacing: 0.3px;
    font-family: 'cabin', serif;
    color: white;
}

.cover-text{
    color:white;
    font-size: 14px;
    width: 80%;
    margin-top: 20px;
    padding-left: 5px;
    line-height: 24px;
}

//===== 7-col-content =====//

.article-col{
    padding-top: 10px;
}

//===== 4-col-content =====//

.tweet-col{
    background: #fafafa;
    border-color: #fafafa;
    padding: 5px 10px;
}

.briefs-column .tolink-card {
  padding-bottom: 10px;
}
.briefs-column .column-name {
  padding-left: 10px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 30px;
  font-size: 24px;
  color: #007cd7;
  padding-bottom: 0px;
  text-transform: uppercase;
  font-weight: bold;
  /*font-family: 'Courgette', cursive;*/
}
.briefs-column .briefs-layout .card-text {
  font-size: 12px;
  line-height: 17px;
  color: #333;
  font-family: "Roboto", sans-serif;
}
.briefs-column .briefs-layout .hint-text {
  margin-bottom: 10px;
}


//===== ProtoCard ======//

.proto-card {
  padding-top: 15px;
  padding-bottom: 50px;
  width: 100%;
  display: inline-block;
  position: relative;
}
.proto-card .card-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #333;
  line-height: 34px;
  font-size: 28px;
}
.proto-card .by-time-line {
  padding: 7px 0px;
}
.proto-card .by-time-line .by-line {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
}
.proto-card .by-time-line .time-ago {
  color: #787878;
  font-size: 12px;
  line-height: 17px;
  color: rgb(0,124,215);
}
.proto-card .card-img {
  padding-left: 0px;
}

.title-small-img-text-layout .card-text{
  padding: 0px;
}
.proto-card .card-text {
  line-height: 21px;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 400;
  font-family: "Noto Serif", serif;
  padding: 0px;
}
.proto-card .hint-text {
  font-size: 10px;
  color: #787878;
  line-height: 14px;
}
.proto-card .title-small-img-text-layout .card-text {
  overflow: hidden;
  text-overflow: ellipsis;
    display: -webkit-box;
    padding-left: 5px;
}
.proto-card .title-text-layout .card-text {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
.proto-card .title-big-img-text-layout .card-text {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
.proto-card .title-big-img-text-layout .card-title {
  margin-top: 15px;
}
.proto-card .title-thumbnail-layout .card-title {
  padding-right: 30px;
}
.proto-card .feature-story-layout .gradient-layer {
  position: absolute;
  top: 0px;
  padding-left: 80px;
  padding-top: 120px;
  padding-right: 160px;
  padding-bottom: 240px;
  width: 100%;
  background: linear-gradient(rgba(85, 168, 253, 0.8), rgba(0, 0, 0, 0.7));
}
.proto-card .feature-story-layout .feature-title {
  padding-left: 10px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 30px;
  border: 5px solid white;
  color: white;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}
.proto-card .feature-story-layout .feature-area {
  overflow: hidden;
}

.clearfix {
    clear: both;
}

//===== 3-col-content =====//

.why-col{
    border-color: #333;
    background: $brand-color;
    color: white;
    padding: 5px 10px;
}

//===== data page - filter col =====//
.filter-col{
    font-size: 16px;
    font-family: cabin;
    margin-top: -10px;
    padding: 0px 10px;
}

.filter-title{
    background: $brand-color;
    color: white;
    padding: 20px 10px 10px 10px;
    // margin-top: -20px;
    position: relative;
    z-index: 10;
}

.single-filter-option{
    padding: 15px 10px;
    border-bottom: 1px solid #efefef;
}

//===== data page - tabs col =====//

.tabs-area{
    border-bottom: 1px solid #efefef;
    margin-bottom: 10px;
}

.single-tab{
    font-size: 16px;
    font-family: cabin;
    border-bottom: 3px solid white;
    display: inline-block;
    padding: 0px 25px 8px;
    cursor: pointer;
}

.active-tab{
    color: $brand-color;
    border-color: $brand-color;
}

.tabs {
  display: none;
}

.tabs.active-area{
  display: block;
}


//====== article page - district article cards =====//

.district-article-cards{
    margin-top: 15px;
    margin-bottom: 15px;
}

// Mobile mode //
.protograph-app-tab {
    display: table-cell;
    border-bottom: 3px solid #dadada;
}
.protograph-app-active-tab {
    border-color: #007cd7;
}
.protograph-app-tabs-container {
    display: none;
    border-collapse: collapse;
    table-layout: fixed;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
}
.mobile-header{
    display: none;
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0px;
    z-index: 10;
    background: #efefef;
    padding: 10px 10px;
    box-sizing: border-box;
}
.protograph-menu-logo {
    position: absolute;
    height: 30px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.protograph-app-menu-mobile-cross:after {
    display: none;
    content: "\00d7";
    font-size: 48px;
}
.protograph-app-navbar-page-title {
    padding-left: 5px;
    font-family: 'Bitter', serif;
}
.mobile-header.protograph-header-home-page {
    background: transparent;
}
.mobile-header.protograph-header-home-page  .protograph-app-navbar-page-title {
    display: none;
}
.mobile-header.protograph-header-home-page > .protograph-menu-logo {
    display: none;
}
@media only screen and (max-width: 500px) {
    #dropdownMenuButton {
      cursor: pointer;
      background: white;
      padding-top: 3px;
      padding-right: 2px;
      padding-left: 3px;
      border-radius: 4px;
      margin-right: 5px;
      margin-top: -3px;
      position: relative;
      display: inline-block;
      border: 1px solid #efefef;
    }
    .protograph-menu-logo{
      height: 20px;
    }

    .protograph-app-tabs-container {
        display: table;
    }
    .desktop-only{
        display: none;
    }
    .mobile-header{
        display: block;
    }
    .col-content, .about-advertisement {
        margin-top: 60px;
    }
    .protograph-app-navbar {
        padding: 20px;
        padding-top: 0px;
    }
    .protograph-app-navbar-slide-in {
        left: 0px;
        z-index: 100;
        transition: left 500ms ease-out;
    }
    .sidebar-menu {
        width: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
    }
    .protograph-app-menu-mobile-cross:after {
        display: inline-block;
        position: absolute;
        top: 0px;
        left: 20px;
    }
    .protograph-app-navbar-logo-container {
        width: 50%;
        margin: 0 auto;
    }
    .sidebar-footer .social-share{
      margin-bottom: 0px;
    }
}