$container-width: 1260px;
$no-of-cols: 16;
$brand-color:#007cd7;


body{
    margin: 0px !important;
    background: #f1f1f1;
    font-size: 14px;
}
.proto-container{
    width: $container-width;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background:white;
    display: flex;
}

.proto-col{
    padding: 0px 10px;
    display: inline-block;
    float: left;
    box-sizing: border-box;
    min-height: 10px;
}

.left-col{
    padding-left: 0px;
}

.right-col{
    padding-right: 0px;
}

.parent-col{
    padding-left: 0px;
    padding-right: 0px;
}


$one-col:$container-width/($no-of-cols/1);
$two-col:$container-width/($no-of-cols/2);
$three-col: $container-width/($no-of-cols/3);
$four-col: $container-width/($no-of-cols/4);
$five-col: $container-width/($no-of-cols/5);
$six-col:$container-width/($no-of-cols/6);
$seven-col:$container-width/($no-of-cols/7);
$eight-col: $container-width/($no-of-cols/8);
$nine-col: $container-width/($no-of-cols/9);
$ten-col: $container-width/($no-of-cols/10);
$eleven-col:$container-width/($no-of-cols/11);
$twelve-col:$container-width/($no-of-cols/12);
$thirteen-col: $container-width/($no-of-cols/13);
$fourteen-col: $container-width/($no-of-cols/14);
$fifteen-col: $container-width/($no-of-cols/15);
$sixteen-col: $container-width/($no-of-cols/16);

.col-1{width: $one-col;}
.col-2{width: $two-col;}
.col-3{width: $three-col;}
.col-4{width: $four-col;}
.col-5{width: $five-col;}
.col-6{width: $six-col;}
.col-7{width: $seven-col;}
.col-8{width: $eight-col;}
.col-9{width: $nine-col;}
.col-10{width: $ten-col;}
.col-11{width: $eleven-col;}
.col-12{width: $twelve-col;}
.col-13{width: $thirteen-col;}
.col-14{width: $fourteen-col;}
.col-15{width: $fifteen-col;}
.col-16{width: $sixteen-col;}


.col-content{
    padding: 0px 10px;
}

.col-title{
    border-top: 7px solid transparent;
    padding: 5px 0px;
    font-family: 'cabin', serif;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 18px;
}